header {
  color: silver;
  -webkit-text-stroke: 1px greenyellow;
  font-family: "BBH Sans Hegarty", sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100%;
}
body,
html {
  display: grid;
  place-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
}
.cat {
  font-size: x-large;
}
#pick {
  font-weight: bold;
  font-size: x-large;
  color: silver;
  -webkit-text-stroke: 1px greenyellow;
}
.myInput {
  background-color: transparent;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 15px;
  width: 30%;
  margin-left: 20px;
  color: white;
}

.submit {
  margin-top: 10px;
  background-color: transparent;
  text-decoration: none;
  color: rgb(2, 71, 11);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 15px;

  margin-left: 30px;
}

.reset {
  margin-top: 10px;
  background-color: transparent;
  text-decoration: none;
  color: rgb(92, 0, 0);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 15px;

  margin-left: 30px;
}
/* Used help of AI for shape of Hangman */
.gallows {
  position: relative;
  width: 200px;
  height: 270px;
}

/* Gallows structure */
.base {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: #0bbd403f;
}

.vertical {
  position: absolute;
  left: 40px;
  bottom: 10px;
  width: 10px;
  height: 250px;
  background-color: #0bbd403f;
}

.horizontal {
  position: absolute;
  left: 40px;
  top: 10px;
  width: 120px;
  height: 10px;
  background-color: #0bbd403f;
}

.rope {
  position: absolute;
  left: 150px;
  top: 20px;
  width: 4px;
  height: 30px;
  background-color: red;
}

.head {
  position: absolute;
  top: 50px;
  left: 130px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 5px solid #000;
  background-color: transparent;
}

.body {
  position: absolute;
  top: 92px;
  left: 151px;
  width: 2px;
  height: 60px;
  background-color: #000;
}

.armLeft {
  position: absolute;
  top: 120px;
  left: 152px;
  width: 40px;
  height: 2px;
  background-color: #000;
  transform-origin: left center;
  transform: rotate(-45deg);
}

.armRight {
  position: absolute;
  top: 120px;
  left: 112px;
  width: 40px;
  height: 2px;
  background-color: #000;
  transform-origin: right center;
  transform: rotate(45deg);
}

.legLeft {
  position: absolute;
  top: 148px;
  left: 150px;
  width: 40px;
  height: 2px;
  background-color: #000;
  transform-origin: left center;
  transform: rotate(45deg);
}

.legRight {
  position: absolute;
  top: 148px;
  left: 113px;
  width: 40px;
  height: 2px;
  background-color: #000;
  transform-origin: right center;
  transform: rotate(-45deg);
}
